@font-face {
  font-family: 'TossProductSans';
  src: url('https://static.toss.im/fonts/toss-product-sans/TossProductSans07Heavy.woff') format('woff'), url('https://static.toss.im/fonts/toss-product-sans/TossProductSans07Heavy.ttf') format('truetype');
  font-weight: 900;
}

@font-face {
  font-family: 'TossProductSans';
  src: url('https://static.toss.im/fonts/toss-product-sans/TossProductSans07Heavy.woff') format('woff'), url('https://static.toss.im/fonts/toss-product-sans/TossProductSans07Heavy.ttf') format('truetype');
  font-weight: 800;
}

@font-face {
  font-family: 'TossProductSans';
  src: url('https://static.toss.im/fonts/toss-product-sans/TossProductSans06ExtraBold.woff') format('woff'), url('https://static.toss.im/fonts/toss-product-sans/TossProductSans06ExtraBold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'TossProductSans';
  src: url('https://static.toss.im/fonts/toss-product-sans/TossProductSans05Bold.woff') format('woff'), url('https://static.toss.im/fonts/toss-product-sans/TossProductSans05Bold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'TossProductSans';
  src: url('https://static.toss.im/fonts/toss-product-sans/TossProductSans04SemiBold.woff') format('woff'), url('https://static.toss.im/fonts/toss-product-sans/TossProductSans04SemiBold.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'TossProductSans';
  src: url('https://static.toss.im/fonts/toss-product-sans/TossProductSans03Medium.woff') format('woff'), url('https://static.toss.im/fonts/toss-product-sans/TossProductSans03Medium.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'TossProductSans';
  src: url('https://static.toss.im/fonts/toss-product-sans/TossProductSans02Regular.woff') format('woff'), url('https://static.toss.im/fonts/toss-product-sans/TossProductSans02Regular.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'TossProductSans';
  src: url('https://static.toss.im/fonts/toss-product-sans/TossProductSans01Light.woff') format('woff'), url('https://static.toss.im/fonts/toss-product-sans/TossProductSans01Light.ttf') format('truetype');
  font-weight: 200;
}





/* COMMON */

body {
  font-family: 'TossProductSans', -apple-system, BlinkMacSystemFont, Lato, Roboto, 'Segoe UI', 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif;
  height: 3000px;
  overflow-x: hidden !important;

}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
div {
  word-break: keep-all;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.inner {
  width: 1140px;
  margin: 0 auto;
}

/* HEADER */
header {
  background-color: transparent;
  /* background-color: rgba(0, 0, 0, 0.2);*/
  /* backdrop-filter: blur(30px);  */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
}

header.dark {
  backdrop-filter: blur(30px);
}

header.white {
  color: #4e5968
}

header .inner {
  /* background-color: grey; */
  width: 1140px;
  margin: auto;
}

header .inner .navbar {
  display: flex;
  align-items: center;
  /* margin: 0; */
}

header .navbar .nav_logo {
  width: 50%;
}

header .navbar .nav_logo img {
  width: 78px;
  height: auto;

}

header .inner .navbar .nav_menu {
  width: 45%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #000; */
  font-size: 15px;

}

header .navbar .nav_menu_item {
  display: flex;
  padding: 12px 10x;
  margin: 10px;
  cursor: pointer;
}

header .inner .navbar .nav_menu a {
  color: #FFF;
}

/* main */
.main_container {
  background-image: url(https://static.toss.im/assets/homepage/team/kv-1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  display: flex;
  position: relative;
}

.main_container .inner {
  display: flex;
  margin: auto;
  justify-content: center;
  align-content: center;
}

.main_container .main_title {
  font-size: 72px;
  font-weight: 700;
  font-style: normal;
  font-weight: bold;
  font-stretch: normal;
  line-height: 93.6px;
  color: #ffffff;
  letter-spacing: normal;
  text-align: center;
}

.main_container .icon {
  position: absolute;
  bottom: 97px;
  width: 24px;
}

.main_container .icon img {
  cursor: pointer;
  width: 24px;
  /* transform: translateX(-50%); */
}

/* GRAPH */
.graph_container {
  /* background-image: url(https://static.toss.im/assets/homepage/team/kv-1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; */
  background-color: #17171c;
  height: 100vh;
}

.graph_container .inner {}

.graph_container .message {
  /* margin: 50px; */
  box-sizing: content-box;
  padding-top: 150px;
  margin: 0 auto;
  max-width: 960px;
  font-size: 25px;
  color: #FFF;
}

.graph_container .message .message__title {
  display: block;
  font-size: 38px;
  line-height: 52px;
  font-weight: 700;
  margin-bottom: 25px;
}

.graph_container .message .text {
  width: 400px;
  margin-top: 51px;
  display: inline-flex;
  flex-direction: column;
}

.graph_container .message .text .text__sub {
  font-size: 21px;
  text-align: left;
  display: block;
  margin: 0 0 9px;

}

.graph_container .message .text .text__main {
  font-size: 64px;
  font-weight: 700;
  line-height: 80.13px;
  text-align: left;

}


/* MISSION */
.mission__container {
  background-image: url(https://static.toss.im/assets/homepage/team/kv-2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mission__container .inner {}

.mission__container .mission__message {
  position: absolute;
  right: 0;
  left: 0;
  width: 788px;
  height: 406px;
  padding: 60px 92px;
  margin: 0 auto;
  text-align: center;
  background: rgba(26, 30, 36, 0.65);
  border-radius: 16px;
  backdrop-filter: blur(30px);
  box-sizing: border-box;
}

.mission__container .mission__message .title {
  display: block;
  margin-bottom: 20px;
  font-size: 30px;
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  line-height: 43.5px;
  color: #b0b8c1;
  letter-spacing: normal;
}

.mission__container .mission__message .text {
  margin-top: 100px;
  font-size: 30px;
  font-style: normal;
  font-weight: bold;
  font-stretch: normal;
  line-height: 43.5px;
  color: #ffffff;
  letter-spacing: normal;
}


/* HISTORY */
.history__container {
  background-color: #17171c;
  height: 100vh;
  color: #FFF;
}

.history__container .inner {}

.history__container .title {
  display: block;
  margin-bottom: 82px;
  width: auto;
  font-size: 42px;
  font-style: normal;
  font-weight: bold;
  font-stretch: normal;
  line-height: 1.45em;
  color: rgb(255, 255, 255);
  text-align: center;
  letter-spacing: normal;
}

.history__container .history__box {
  position: relative;
  margin: 0 auto;
  width: 500px;
  padding-left: 50px;

}

.history__container .history__timeline {
  list-style: none;

}

.history__container .history__timeline .years {
  position: relative;
  height: 75px;
  cursor: pointer;
  border-left: 2px solid rgb(51, 61, 75);
}

.history__container .history__timeline .years::before {
  position: absolute;
  top: -10px;
  left: -78px;
  padding: 3px;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  line-height: 25px;
  color: rgb(78, 89, 104);
  text-align: right;
}

.history__container .history__timeline .years:nth-child(1)::before {
  content: '2021'
}

.history__container .history__timeline .years:nth-child(2)::before {
  content: '2020'
}

.history__container .history__timeline .years:nth-child(3)::before {
  content: '2019'
}

.history__container .history__timeline .years:nth-child(4)::before {
  content: '2018'
}

.history__container .history__timeline .years:nth-child(5)::before {
  content: '2017'
}

.history__container .history__timeline .years:nth-child(6)::before {
  content: '2016'
}

.history__container .history__timeline .years:nth-child(7)::before {
  content: '2015'
}

.history__container .history__timeline .years:nth-child(8)::before {
  content: '2014'
}

.history__container .history__timeline .years:nth-child(9)::before {
  content: '2013'
}


.history__container .history__timeline .years::after {
  position: absolute;
  left: -7px;
  width: 12px;
  height: 12px;
  content: "";
  background-color: rgb(51, 61, 75);
  border-radius: 50%;
}

.active::before {
  color: rgb(255, 255, 255) !important;
  transition: color 300ms;
}

.active::after {
  background: rgb(25, 31, 40) !important;
  box-shadow: rgb(255 255 255) 0px 0px 0px 4px !important;
  transition: box-shadow 300ms ease 0s;
}

/* histtory text */

.history__container .history__text .texts {
  display: none;
  margin: 0 auto;
  padding-left: 40px;
  width: 400px;
  position: absolute;
  top: -5px;
  left: 75px;
  color: rgb(255, 255, 255);
  list-style: none;
  /* 트랜지션 트랜스폼 줘야함 */
}

.history__container .history__text .texts:nth-child(1) {
  display: block;
}

.history__container .history__text h3 {
  margin-bottom: 5px;
  font-size: 17px;
  font-style: normal;
  font-weight: bold;
  line-height: 21px;
  color: rgb(139, 149, 161);
}

.history__container .history__text h4 {
  margin-bottom: 50px;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5em;
  color: rgb(242, 244, 246);
  white-space: pre-wrap;
}


/* CARD */
.card__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  max-width: 100%;
  padding: 175px 0;
  background-color: #ffffff;
}

.card__container .cards__title {
  margin-bottom: 13px;
  font-size: 52px;
  font-style: normal;
  font-weight: bold;
  font-stretch: normal;
  line-height: 1.4em;
  color: #191f28;
  text-align: center;
  letter-spacing: normal;
}

.card__container .cards__title__sub {
  margin-bottom: 42px;
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1.45em;
  color: #4e5968;
  text-align: center;
  letter-spacing: normal;
}

.card__container .cards__box {
  /* 1을 주면 이미지가 보임 */
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 960px;
  margin: 0 auto;
}

.card__container .cards__box .card {
  width: 458px;
  height: 523px;
  margin: 14px 0;
  background-color: transparent;
}

.card__container .cards__box .card .card__inner {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 32px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 16px;
  box-sizing: border-box;
  background-color: transparent;
}

.card .card__imagebox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-size: cover;
  border-radius: 16px;
  background-color: #17171c;
 
}
.card:nth-child(1) .card__imagebox{ background-image: url(https://static.toss.im/assets/homepage/team/team-1core.jpg);}
.card:nth-child(2) .card__imagebox{ background-image: url(https://static.toss.im/assets/homepage/team/team-2securities.jpg);}
.card:nth-child(3) .card__imagebox{ background-image:url(https://static.toss.im/assets/homepage/team/team-3payments.jpg);}
.card:nth-child(4) .card__imagebox{ background-image: url(https://static.toss.im/assets/homepage/team/team-4insu.jpg);}
.card:nth-child(5) .card__imagebox{ background-image: url(https://static.toss.im/assets/homepage/team/team-5bank.jpg);}
.card:nth-child(6) .card__imagebox{ background-image: url(https://static.toss.im/assets/homepage/team/team-6cx.jpg);}
.card .card__top {
  height: 24px;
  margin: 0 0 8px 0;
  overflow-y: hidden;
  font-size: 15px;
  line-height: 24px;
  color: #4e5968;
  opacity: 1;
  transition: opacity 0.3s ease, height 0.3s ease;
}

.card .card__title {
  margin: 0 0 20px 0;
  font-size: 32px;
  font-weight: bold;
  line-height: 41px;
  color: #333d4b;
  transition: font-size 0.3s ease, line-height 0.3s ease;
}

.card .card__plus-icon {
  height: 24px;
  transition: height 0.3s ease,opacity 0.3s ease;

}

.card .card__body {
  margin: 0;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.5;
  color: #333d4b;
  letter-spacing: -0.1px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card .card__link{
  margin-top: 24px;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  color: #3182f6;
  opacity: 0;
  transition: font-size 0.3s ease, line-height 0.3s ease;
}
.card a {
  color: #007bff;
}

.card .card__close {
  position: absolute;
    bottom: 0;
    left: 0;
    padding: 35px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* card--focus */
.card.--focus .card__imagebox{
  filter: blur(30px);
  transform: scale(1.2);
}
.card.--focus .card__top{
  height: 0px;
  opacity: 0;
}
.card.--focus .card__title{
  margin: 0 0 15px 0;
  font-size: 27px;
  font-weight: bold;
  line-height: 1.35em;
  color: #333d4b;
  white-space: pre-line;
  transition: font-size 0.3s ease, line-height 0.3s ease;
}
.card.--focus .card__plus-icon{
  height: 0px;
  opacity: 0;

}
.card.--focus .card__body,
.card.--focus .card__link{
  display: block;
  opacity: 1;
}
.card.--focus .card__close{
  opacity: 1;
}